body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'httelvetica Neue',
    sans-serif;
  -webkit-font-smoothtting: antialiased;
  -moz-osx-font-smoothtting: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.UserSettings{
  z-index: 0;
}
img[alt*="Toolpad"], [class*="logo"], [class*="Logo"], [aria-label*="Toolpad"], [title*="Toolpad"], [data-testid*="logo"] {
  display: none !important;
}

*:contains("Toolpad") {
  display: none !important;
}

.MuiStack-root.css-1d9cypr-MuiStack-root {
  display: none !important;
}